@media (width <= 767px) {
    .button {
        span {
            display: none;
        }
    }
}

.button {
    width: 154px;
    height: 40px;
    border-radius: 20px;
    background: red;
    color: white;
    cursor: pointer;
}
