@use '../../sharedStyles/mixins/flex.scss' as flex_mixins;
@use '../../sharedStyles/extends/flex.scss';

@media (width > 1200px) {
    .main {
        @include flex_mixins.center_j_d(flex-start, column);
        align-items: initial;
        width: 100vw;
        padding: 0 477px 0 80px;
        margin-top: 94px;
        &_video {
            box-sizing: border-box;
            width: 100%;
            aspect-ratio: 1363 / 700;

            position: relative;
            container: video / inline-size;
            background-image: url('./img/Cover.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        &_videoHeader {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            &_name {
                color: rgb(25, 38, 70);
                font-size: 36px;
                font-weight: 700;
            }
            &_actions {
                margin-top: 14px;
                @include flex_mixins.center_j_d(space-between);

                &_views {
                    color: rgb(194, 194, 194);
                    font-size: 20px;
                    font-weight: 400;
                }
                &_handlers {
                    align-self: flex-start;

                    width: 10%;
                    min-width: 388px;
                    @include flex_mixins.center_j_d(space-between);
                }
            }
            // display: none;
        }
        &_description {
            margin-top: 50px;
            @include flex_mixins.center_j_d(space-between);

            &_data {
                width: 66%;
                @include flex_mixins.center_j_d(space-between);
                align-items: initial;

                &_chanelLogo {
                }
                &_content {
                    margin-left: 8px;
                    display: flex;
                    flex-direction: column;
                    &_name {
                        color: rgb(25, 32, 44);
                        font-size: 26px;
                        font-weight: 700;
                    }
                    &_publishedDate {
                        margin-top: 6px;
                        color: rgb(194, 194, 194);
                        font-size: 13px;
                        font-weight: 400;
                    }
                    &_text {
                        color: rgb(0, 0, 0);
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22px;
                    }
                    &_more {
                        color: rgb(194, 194, 194);
                        font-size: 20px;
                        font-weight: 400;
                    }
                }
            }
            &_subscribe {
                height: 100%;
            }
            // display: none;
        }
    }
}
@media (768px <= width <= 1200px) {
    .main {
        @include flex_mixins.center_j_d(flex-start, column);
        align-items: initial;
        width: 100vw;
        margin-top: 84px;
        padding: 0 16px;

        &_video {
            width: 100%;
            aspect-ratio: 320 / 180;

            position: relative;
            container: video / inline-size;
            // max-width: 1700px;
            background-image: url('./img/Cover.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        &_videoHeader {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            &_name {
                color: rgb(25, 38, 70);
                font-size: 30px;
                font-weight: 700;
            }
            &_actions {
                margin-top: 14px;
                @include flex_mixins.center_j_d(space-between);

                &_views {
                    color: rgb(194, 194, 194);
                    font-size: 17px;
                    font-weight: 400;
                }
                &_handlers {
                    align-self: flex-start;

                    width: 10%;
                    min-width: 388px;
                    @include flex_mixins.center_j_d(space-between);
                }
            }
        }
        &_description {
            margin-top: 50px;
            @include flex_mixins.center_j_d(space-between);

            &_data {
                width: 66%;
                @include flex_mixins.center_j_d(space-between);
                align-items: initial;

                &_chanelLogo {
                }
                &_content {
                    margin-left: 8px;
                    display: flex;
                    flex-direction: column;
                    &_name {
                        color: rgb(25, 32, 44);
                        font-size: 26px;
                        font-weight: 700;
                    }
                    &_publishedDate {
                        margin-top: 6px;
                        color: rgb(194, 194, 194);
                        font-size: 13px;
                        font-weight: 400;
                    }
                    &_text {
                        color: rgb(0, 0, 0);
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22px;
                    }
                    &_more {
                        color: rgb(194, 194, 194);
                        font-size: 20px;
                        font-weight: 400;
                    }
                }
            }
            &_subscribe {
                height: 100%;
            }
        }
    }
}

@media (width < 768px) {
    .main {
        @include flex_mixins.center_j_d(flex-start, column);
        align-items: initial;
        width: 100vw;
        margin-top: 84px;
        padding: 0 16px;

        &_video {
            width: 100%;
            aspect-ratio: 320 / 180;

            position: relative;
            container: video / inline-size;
            // max-width: 1700px;
            background-image: url('./img/Cover.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        &_videoHeader {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            &_name {
                color: rgb(25, 38, 70);
                font-size: 30px;
                font-weight: 700;
            }
            &_actions {
                margin-top: 14px;
                @include flex_mixins.center_j_d(space-between);

                &_views {
                    color: rgb(194, 194, 194);
                    font-size: 17px;
                    font-weight: 400;
                }
                &_handlers {
                    align-self: flex-start;

                    width: 10%;
                    min-width: 388px;
                    @include flex_mixins.center_j_d(space-between);
                }
            }
        }
        &_description {
            margin-top: 50px;
            @include flex_mixins.center_j_d(space-between);

            &_data {
                width: 66%;
                @include flex_mixins.center_j_d(space-between);
                align-items: initial;

                &_chanelLogo {
                }
                &_content {
                    margin-left: 8px;
                    display: flex;
                    flex-direction: column;
                    &_name {
                        color: rgb(25, 32, 44);
                        font-size: 26px;
                        font-weight: 700;
                    }
                    &_publishedDate {
                        margin-top: 6px;
                        color: rgb(194, 194, 194);
                        font-size: 13px;
                        font-weight: 400;
                    }
                    &_text {
                        color: rgb(0, 0, 0);
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22px;
                    }
                    &_more {
                        color: rgb(194, 194, 194);
                        font-size: 20px;
                        font-weight: 400;
                    }
                }
            }
            &_subscribe {
                height: 100%;
            }
        }
    }
}
