@use '../sharedStyles/mixins/flex' as flex_mixins;
@use '../sharedStyles/extends/flex';

.small_video {
    width: 100%;
    cursor: pointer;
    &_wrapper {
        width: 367px;
        flex: 0 0 auto;
        margin-bottom: 30px;
    }
    &_previewContainer {
        position: relative;
        width: 100%;
        &_wallpaper {
            width: 100%;
        }
        &_timeContainer {
            @extend %full_center;
            position: absolute;
            bottom: 7%;
            right: 3%;
            aspect-ratio: 47 / 24;
            width: 47px;
            border-radius: 12px;
            background-color: rgb(0, 0, 0);
            opacity: 0.3;

            &_time {
                font-size: 14px;
                color: white;
            }
        }
    }
    &_information {
        @include flex_mixins.center_j_d(space-between, column);
        align-items: initial;
        margin-top: 12px;
        height: 63px;

        &_videoName {
            &:hover {
                text-decoration: underline;
            }
            color: rgb(25, 32, 44);
            font-size: 26px;
            font-weight: 700;
        }
        &_metricsContainer {
            @include flex_mixins.center_j_d(space-between);
            color: rgb(194, 194, 194);
            font-size: 18px;
            font-weight: 400;
            &_views {
            }
            &_author {
            }
        }
    }
}
@media (hover: hover) {
    .small-video-information-videoName:hover {
        text-decoration: underline;
    }
}
