.button {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background: rgba(235, 235, 235, 0.3);
    cursor: pointer;

    span {
        margin-left: 8px;
        color: rgb(25, 38, 70);
        font-size: 16px;
        font-weight: 400;
    }
}
