@use '../../../sharedStyles/mixins/flex.scss' as flex_mixins;
@use '../../../sharedStyles/extends/flex.scss';

.header {
    padding: 0px 70px 0px 15px;
    @include flex_mixins.center_j_d(space-between);
    background-color: white;
    height: 84px;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}
.header_firstPart {
    width: 10%;
    min-width: 163px;
    max-width: 200px;
    @include flex_mixins.center_j_d(space-between);
    & > div:first-child {
        cursor: pointer;
    }
    &_menu {
        width: clamp(17px, 4vw, 20px);
    }
    &_appLogo {
        width: clamp(116px, 4vw, 140px);
        cursor: pointer;
    }
}
.header_secondPart {
    width: 86%;
    @include flex_mixins.center_j_d(space-between);
    &_wrapper {
        width: 17%;
        @include flex_mixins.center_j_d(space-between);
        &_otherLogos {
            width: 72%;
            @include flex_mixins.center_j_d(space-between);
            & > * {
                cursor: pointer;
            }
            &_notificationContainer {
                position: relative;
                // &_logo {
                // }

                &_icon {
                    top: -5px;
                    left: 8px;
                    position: absolute;
                }
            }
        }
        &_userIcon {
            width: clamp(35px, 4vw, 40px);
            cursor: pointer;
        }
    }
}
.header_icons_wrapper {
    @include flex_mixins.center_j_d(center);

    height: 50px;

    border-radius: 50%;
    aspect-ratio: 1 / 1;

    &:hover {
        background-color: rgb(241, 241, 241);

        transition: opacity 0.5s ease;
    }
}

.search_container {
    position: relative;
    width: 51.5%;
    @include flex_mixins.center_j_d(initial);
    height: clamp(35px, 3vw, 40px);

    &_field {
        color: rgb(48, 56, 76);

        font-weight: 400;
        width: 100%;
        height: inherit;
        padding: 12px 45px 12px 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: var(--font_16);
        border-radius: 22px;
        background: rgb(235, 235, 235);
        opacity: 0.3;
    }
    &_logo {
        position: absolute;
        cursor: pointer;
        right: 18px;
        width: 16px;
    }
}
