main {
    display: flex;
    justify-content: flex-start;
    margin-top: 84px;
}

.main_content {
    width: calc(100vw - 437px - 17px - 10px - 80px);
    background-color: blue;
    height: calc(200vh);
    margin-left: 80px;
}
