.button {
    /* height: fit-content;
    width: fit-content; */
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0px;
    background: rgba(235, 235, 235, 0);
    cursor: pointer;
}

.button:hover {
    background: rgba(235, 235, 235, 0.3);
    transition: background 0.2s ease;
}
